---
permalink: /about.html
layout: default
---

<style>
    html {
        overflow-x: hidden;
    }
</style>

<div>
    <div class='wrapper about-wrapper'>
        <div class='about-content'>
            <div class='about-me'>
                <h1 class='about-header'>Hi,</h1>
                <div>
                    {% for line in site.data.about.overview %}
                    <p>{{ line | markdownify }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class='about-pic-container'>
                <div class='about-pic'>
                    <div>
                        <img src='/assets/about/julia.jpg' alt='julia santoro picture' />
                    </div>
                    <div id="foreground" class='about-pic-foreground'>
                    </div>
                    <input type="range" min="0" max="100" value="50" class="about-pic-slider" name='slider' id="slider">
                </div>
                <p class='about-pic-caption'><span>Self-portrait</span>, 2020</p>
            </div>
        </div>
        <div>
            <div class='about-experience'>
                <div>
                    <h3>Education</h3>
                    {% for education in site.data.about.education %}
                    <div class='about-experience-group'>
                        <p class='about-title'>{{ education.title }}</p>
                        <p>{{ education.note }}</p>
                        <p class='about-date'>{{ education.date }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <h3>Experience</h3>
                    {% for experience in site.data.about.experience %}
                    <div class='about-experience-group'>
                        <p class='about-title'>{{ experience.title }}</p>
                        <p>{{ experience.role }}</p>
                        <p class='about-date'>{{ experience.date }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <h3>Design Skills</h3>
                    <ul>
                        {% for skill in site.data.about.design %}
                        <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3>Technical Skills</h3>
                    <ul>
                        {% for skill in site.data.about.technical %}
                        <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <a class='about-resume' href='/resume.pdf'>Resume</a>
        </div>
    </div>
</div>

<script>
  const foreground = document.getElementById("foreground")
  const slider = document.getElementById("slider")

  slider.addEventListener("input", (e) => {
    const pos = e.target.value;
    foreground.style.width = `${pos}%`
  })
</script>
