---
permalink: /index.html
layout: default
---
{% for case in site.cases %}
<link rel='prefetch' as='image' href='assets/{{case.name}}/prototype.png' />
{% endfor %}

<div>
    <div id='home-cover' class='onload'></div>
    <div id="home-splash" class='onload'>
        <div class='home-splash-wrapper home-wrapper'>
            <div class='home-splash-section'>
                <div id='home-splash-draw'>
                    <h1 class='home-splash-title'>Hi, I'm Julia</h1>
                    <div class='home-splash-arrow'>
                        <img src='/assets/arrow.png' alt='arrow'>
                    </div>
                    <div id='home-splash-bike'>
                        {%- include home/bike.svg -%}
                    </div>
                </div>
                <div class='home-splash-text home-splash-text-bottom'>
                    <p>
                        {{ site.tagline1 | markdownify }}
                    </p>
                </div>
            </div>
            <div class='home-splash-section'>
                <div>
                    <div class='home-splash-text'>
                        <p>
                            {{ site.tagline2 | markdownify }}
                        </p>
                    </div>
                </div>
                <div class='home-splash-img-container'>
                    <div class='home-splash-img'>
                        <img src='/assets/city.png' alt='city pic' />
                        <span class='home-splash-text home-splash-caption'>📍 Based in NYC</span>
                    </div>
                </div>
            </div>
            <div class='home-splash-cta'>
                <ul>
                    <li><a href='#work'>View work</a></li>
                    <li>
                        <a href='/resume.pdf'>Resume</a>
                    </li>
                    <li><a href='/about'>About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h1 id="work" class='hidden'>Work</h1>
    <div class='home-projects'>
        {% for case in site.cases %}
        <div class='home-project-container'>
            <div class='home-project home-project-{{case.name}}'>
                <div class='home-project-inner home-wrapper'>
                    <div class='home-project-img'>
                        <img src='assets/{{case.name}}/banner.png' alt='{{case.name}} banner' />
                    </div>
                    <div class='home-project-description'>
                        <div>
                            <h2 class='home-project-title'>{{ case.title }}</h2>
                        </div>
                        <p>
                            {{ case.tagline }}
                        </p>
                        <a href='{{case.url}}' class='home-project-button'>View Case Study</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class='home-footer'>
        <span id='scroll-top'>Back to top</span>
    </div>
</div>

<script>
  history.scrollRestoration = "manual";
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
    document.documentElement.scrollTop;
  }

  const cover = document.getElementById("home-cover")
  if (window.location.href.includes("work")) {
    cover.style.display = 'none';
  } else {
    document.body.style.overflow = 'hidden';
    window.setTimeout(() => document.body.style.overflow = 'visible', 2000)
  }

  const scrollTop = document.getElementById('scroll-top');
  scrollTop.addEventListener("click", () => {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  });

  const bike = document.getElementById('home-splash-bike');
  window.addEventListener('load', function () {
    const splash = document.getElementById('home-splash');
    const drawing = document.getElementById('home-splash-draw');
    const cover = document.getElementById('home-cover');
    const bikeRect = drawing.getBoundingClientRect();

    // const
    const bikeLeft = bikeRect.left;
    const bikeTop = bikeRect.top - 70;

    cover.style.setProperty('--cover-left', `${bikeLeft}px`);
    cover.style.setProperty('--cover-top', `${bikeTop}px`);
    cover.style.setProperty('--cover-width', `${bikeRect.width}px`);
    cover.style.setProperty('--cover-height', `${bikeRect.height}px`);

    splash.classList.remove('onload');
    cover.classList.remove('onload');
  })

  bike.addEventListener('click', () => {
    window.location.href = "/bike";
  })
</script>
