:root {
    --main-color-light: #FFC70040;
    --main-color-dark: #FFC700;
    --splash-color: #78AB6F;
}

.work-list {
    list-style: url("/assets/reciplay/bulletpoint.svg");
}

.work-splash-image img {
    max-height: 400px;
    display: block;
    margin: 0 auto;
}