:root {
    --main-color-light: rgba(97, 152, 130, 0.25);
    --main-color-dark: rgba(19, 93, 70, 1);
    --splash-color: rgba(179, 212, 200, 1);
}

.work-list {
    list-style: url("/assets/nonna/bulletpoint.svg");
}

.work-splash-image img {
    max-height: 400px;
    display: block;
    margin: 0 auto;
}