@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Montserrat", san-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$heading-font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$subheading-font-family: "Lora", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$list-font-family: "Song Myung", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$header-font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$spacing-unit:     30px !default;

$text-color:       black !default;
$background-color: #FFFFFF !default;
$background-secondary-color: #F5F5F5 !default;

$brand-color:      rgba(129, 174, 157, 1) !default;
$brand-color-light: rgba(97, 152, 130, 0.25)  !default;
$brand-color-dark: rgba(19, 93, 70, 1) !default;

$grey-color:       rgba(135, 135, 135, 1) !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

$shadow-color: rgba(137, 133, 133, 0.25) !default;
$image-shadow: 0 4px 10px 4px $shadow-color !default;

// Width of the content area
$content-width:    90vw !default;
$max-width:        1200px !default;

$on-tiny:          420px !default;
$on-small:         550px !default;
$on-palm:          800px !default;
$on-tablet:        950px !default;
$on-laptop:        1200px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "default/base",
"default/layout",
"default/pages",
"default/cases",
"default/animation",
"default/bike"
;
