/**
 * Work
 */

/**
 * Work Basics
 */
.work-wrapper {
  padding: $spacing-unit 0;
  width: 50%;

  @include media-query($on-palm) {
    padding: $spacing-unit * .5 0;
    width: 100%;
  }
}

.work-wrapper > div:not(:last-child) {
  margin-bottom: $spacing-unit;
}

.work-image {
  max-width: 70%;
  margin: 0 auto;
}

.work-image img {
  display: block;
  margin: 0 auto;
}

.work-section-container > div:nth-child(odd) {
  background-color: $background-secondary-color;
}

.work-cols {
  display: flex;
  justify-content: space-between;
  gap: $spacing-unit * 2;

  @include media-query($on-palm) {
    flex-direction: column;
    gap: $spacing-unit;
  }
}

.work-cols-wide {
  @include media-query($on-laptop) {
    flex-direction: column;
    gap: $spacing-unit;
  }
}

.work-cols-even > * {
  flex-basis: 0;
  flex-grow: 1;
}

.work-bold {
  font-weight: 700;
}

.work-header {
  font-family: "Roboto Flex", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: bold;
  font-size: 1.6rem;
  position: relative;

  @include media-query($on-palm) {
    margin-left: $spacing-unit;
  }
}

.work-header::before {
  content: "";
  width: 50px;
  height: 10px;
  display: block;
  position: absolute;
  background-color: var(--main-color-light);
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.work-header::after {
  content: "";
  width: 150px;
  height: 10px;
  margin-left: 10px;
  display: inline-block;
  position: absolute;
  background-color: var(--main-color-light);
  top: 50%;
  transform: translateY(-50%);
}

.work-list {
  margin-left: $spacing-unit * .8;
}

.work-list > li {
  padding-left: 5px;
}

.work-list > li:not(:last-child) {
  margin-bottom: $spacing-unit *.5;
}

.work-subheader {
  color: var(--main-color-dark);
  font-size: 1.2rem;
  font-weight: 500;
}

.work-quote {
  font-style: italic;
}

.work-table {
  width: 100%;
  border-spacing: 0;
}

.work-table td {
  padding: $spacing-unit * .5 0;
}

.work-table-small td {
  padding: $spacing-unit * .2 0;
}

.work-table-value {
  width: 100%;
  padding-left: 15px !important;
  vertical-align: text-top;
}

.work-table-key {
  border-right: 1px var(--main-color-light) solid;
  vertical-align: text-top;
  padding-right: 5px !important;
  font-weight: 500;
}

.work-markdown > p:not(:last-child) {
  margin-bottom: 0;
}

.work-svg > svg line {
  stroke: var(--main-color-dark);
}

.work-svg > svg path {
  fill: var(--main-color-dark);
}

/**
 * Work Table of Contents
 */

.work-table-of-contents {
  position: fixed;
  top: $spacing-unit * 7.5;
  left: 7%;
  z-index: 9999;

  @include media-query($on-palm) {
    display: none;
  }
}

.work-table-of-contents li {
  margin-bottom: $spacing-unit * .3;
}

.work-table-of-contents a {
  color: $grey-color;
}

.work-table-of-contents-active {
  text-decoration: underline;
}

/**
 * Work Splash
 */

.work-splash-icons {
  position: relative;
}

.work-splash-icons > div {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: $spacing-unit;
  justify-content: space-between;
}

.work-splash-link {
  color: var(--main-color-dark);
  font-weight: 700;
}

.work-splash-link:hover {
  cursor: pointer;
}

.work-splash-icon-rev svg {
  transform: rotate(180deg);
}

.work-splash-link-text {
  color: var(--main-color-dark);
  @include media-query($on-palm) {
    display: none;
  }
}

.work-splash-logo {
  padding-top: $spacing-unit * 0.5;
}

.work-splash-logo img {
  max-height: $spacing-unit * 2;
}

/** Work Overview
 *
 */

.work-overview-container > div:not(:first-child) {
  margin-top: $spacing-unit * 2;
}

.work-overview-solutions {
  gap: 0;
  justify-content: space-between;
  @include media-query($on-palm) {
    flex-direction: row;
  }
}

.work-overview-solutions > div {
  text-align: center;
}

.work-overview-descriptions {
  flex-direction: row;
  justify-content: space-between;
}

/**
 * Work Research
 */
.work-research-blurb {
  display: flex;
  justify-content: center;
  position: relative;
  padding: $spacing-unit * .5 0;
}

.work-research-blurb img {
  border-radius: 50%;
  width: 60%;
}

.work-research-blurb > div {
  position: absolute;
  bottom: 20%;
  left: 30%;
  color: white;
}

.work-research-blurb > div > p {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.work-research-logos {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-unit * .5;
  margin-top: $spacing-unit * .5;
}

.work-research-logos > img {
  height: $spacing-unit * 1.5;
}

.work-research-questions {
  width: $spacing-unit * 7;
  font-weight: 600;
}

.work-research-pain-points {
  min-width: $spacing-unit * 8;
}

.work-research-persona-table .work-table-key {
  border-right: 0;
}

.work-research-personas {
  gap: 0;
  @include media-query($on-laptop) {
    flex-direction: column;
  }
}

.work-research-personas > div:first-child {
  padding-right: $spacing-unit;
  position: relative;
}

.work-research-personas > div:first-child:after {
  content : "";
  width: 1px;
  height: 95%;
  position: absolute;
  right: 0;
  top: 5%;
  border-right: 1px var(--main-color-light) solid;

  @include media-query($on-laptop) {
    border-right: 0;
  }
}

.work-research-personas > div:last-child {
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    padding-left: 0;
  }
}

.work-research-persona-table .work-list {
  margin-bottom: 0;
}

.work-research-persona-table td {
  padding: 0;
}

.work-research-persona-table tr:not(:last-child) td {
  padding-bottom: $spacing-unit;
}


.work-research-journey-image {
  width: 100%;
}

/**
 * Work Designs
 */

.work-designs-0 > .work-design-img {
  order: -1;
  @include media-query($on-palm) {
    order: 0
  }
}

.work-designs-0 > .work-design-gap {
  order: 1;
  @include media-query($on-palm) {
    order: 0
  }
}

.work-design-side {
  width: 70%;
}

.work-design-gap {
  width: 20%;

  @include media-query($on-laptop) {
    display: none;
  }
}

.work-design-summary-0 {
  margin-left: $spacing-unit * 2;
  padding-left: $spacing-unit * .5;
  border-left: 6px var(--main-color-light) solid;

  @include media-query($on-laptop) {
    margin-left: 0;
  }

  @include media-query($on-palm) {
    padding-left: 0;
    border-left: 0;
  }
}

.work-design-summary-1 {
  margin-right: $spacing-unit * 2;
  padding-right: $spacing-unit * .5;
  border-right: 6px var(--main-color-light) solid;

  @include media-query($on-laptop) {
    margin-right: 0;
  }

  @include media-query($on-palm) {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
  }
}

.work-designs-container {
  align-items: center;
}

.work-designs-container:not(:last-child) {
  margin-bottom: $spacing-unit;
}

.work-design-img img {
  min-width: $spacing-unit * 5;
}

/**
 * Work Testing
 */

.work-testing-table .work-table-key {
  min-width: $spacing-unit * 1.7;
}

.work-testing-body {
  align-items: center;
}

.work-testing-image {
  @include media-query($on-palm) {
    display: flex;
    justify-content: center;
  }
}

.work-testing-image img {
  max-width: 70%;
}

.work-testing-details {
  min-width: $spacing-unit * 8;
}

/**
 * Work Ideation
 */

.work-ideation-diagram {
  align-items: center;
}

.work-ideation-diagram p {
  margin-bottom: 0;
}

.work-ideation-diagram > figure {
  flex-basis: 0;
  flex-grow: 1;
}

.work-ideation-arrow {
  @include media-query($on-laptop) {
    transform: rotate(90deg);
  }
}

.work-ideation-diagram-section {
  display: flex;
  justify-content: center;
}

.work-ideation-diagram-section img {
  display: block;
  margin: 0 auto;
}

.work-ideation-single {
  align-items: center;
}

/**
 * Work Wireframes
 */

.work-wireframe-images img:not(:first-child) {
  margin-top: $spacing-unit * .5;
}