/**
 * Site header
 */
#site-header {
  padding-top: $spacing-unit * 0.2;

  box-shadow: 0 4px 4px 0 rgba(220, 220, 220, 0.25);
  width: 100%;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;

  background-color: white;

  max-width: 100vw;
  min-width: 350px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: $spacing-unit * 1.865;
  max-width: $max-width;
}

.header-wrapper > * {
  flex-basis: 0;
  flex-grow: 1;
}

.site-title {
  float: left;
  width: 100%;
  max-width: 179px;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  display: flex;
  justify-content: flex-end;
  font-family: $header-font-family;
  gap: 20px;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-size: 1.2rem;
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  box-shadow: 0 -4px 4px 0 rgba(220, 220, 220, 0.25);
  border-top: 1px solid $grey-color-light;
  background-color: white;

  min-width: 350px;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $max-width;
}

.footer-wrapper  > ul {
  flex-basis: 0;
  flex-grow: 1;
}

.footer-socials {
  display: flex;
  justify-content: flex-end;
  gap: $spacing-unit * .5;
  margin-bottom: 0;
}

.footer-socials > li {
  display: inline-block;
}

.footer-notes {
  margin-bottom: 0;
  @include media-query($on-palm) {
    font-size: 0.8rem;
  }
}

.footer-notes li:not(:last-child) {
  margin-bottom: $spacing-unit * .5;
}


/**
 * Page content
 */
.page-content {
  flex: 1;
}