/**
 * Home
 */

.home-splash {
  height: 100vh;
}

.home-splash-title {
  margin-top: 30vh;
}

.home-splash-tag {
  margin-top: $spacing-unit;
}

.home-splash > div {
  display: flex;
  height: 100%;
}

.home-splash > div > div {
  flex-basis: 0;
  flex-grow: 1;
}

.home-splash-cta-block {
  display: flex;
  flex-direction: column;
}

.home-splash-cta-block > div {
  flex-basis: 0;
  flex-grow: 1;
}

.home-splash-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-splash-cta > div {
  width: 100px;
  margin: $spacing-unit * 0.5 0;
}

.home-project {
  display: flex;
  padding: $spacing-unit 0;
}

.home-project > div {
  display: flex;
}

.home-project > div > div {
  flex-basis: 0;
  flex-grow: 1;
}

.home-project:nth-child(even) {
  background-color: $grey-color-light;
}

.home-project-img {
  padding: 0 $spacing-unit;
  align-self: center;
}

.home-project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-project-desc {
  max-width: 300px;
}

/**
 * About
 */

.about-wrapper {
  padding-top: $spacing-unit * 2;
}

.about-wrapper > div {
  margin-bottom: $spacing-unit * 2;
}

.about-content {
  display: flex;
  justify-content: space-between;
  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.about-pic {
  max-width: $spacing-unit * 17;
  position: relative;
  @include media-query($on-palm) {
    order: -1;
    margin-bottom: $spacing-unit;
  }
}

.about-pic-foreground {
  background-image: url("/assets/about/julia-draw.jpg");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.about-pic-slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  top: 0;
  background: transparent;
  outline: none;
  margin: 0;
  transition: all .2s;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    background: white;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 6px;
    height: 600px;
    background: white;
    cursor: pointer;
  }
}

.about-header {
  @include media-query($on-palm) {
    order: -2;
  }
}

.about-me {
  width: 100%;
  padding-right: $spacing-unit * 4;
  max-width: $spacing-unit * 20;

  @include media-query($on-palm) {
    padding-right: $spacing-unit * 2;
  }
}

.about-me > div {
  margin-top: $spacing-unit;
}

.about-me > div > p:not(:first-child) {
  margin-top: $spacing-unit;
}

.about-experience {
  display: flex;
  justify-content: space-between;
  gap: $spacing-unit * 1;
  margin-top: $spacing-unit;
  min-height: $spacing-unit * 10;
  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.about-experience div {
  max-width: $spacing-unit * 10;
}

.about-experience h3 {
  font-weight: 600;
}

.about-date {
  font-weight: 300;
  font-style: italic;
}

.about-title {
  font-weight: 500;
}

.about-experience-group {
  margin-bottom:  $spacing-unit;
}

.about-experience-group p {
  margin-bottom: 0;
}

.about-resume {
  color: $text-color !important;
  font-size: 1.6rem;

  :hover {
    cursor: pointer;
  }

  h4 {
    display: inline-block;
    margin-right: 10px;
  }
}