/**
 * Home
 */

.home-wrapper {
  padding-left: $spacing-unit * 2;
  padding-right: $spacing-unit * 2;
  max-width: $max-width;
  margin: 0 auto;

  @include media-query($on-palm) {
    padding-left: $spacing-unit * 0.5;
    padding-right: $spacing-unit * 0.5;
  }
}

#home-cover {
  z-index: 9999;
  position: absolute;
  top: $spacing-unit * 2.4;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  overflow: hidden;
  animation: hide 0.1s linear;
  animation-delay: 1.9s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes hide {
  0% {

  }
  100% {
    display: none;
    z-index: -999999;
  }
}

#home-cover:after {
  content: '';
  position: absolute;
  left: var(--cover-left);
  top: var(--cover-top);
  width: var(--cover-width);
  height: var(--cover-height);
  box-shadow: 0 0 0 100000px white;

  animation: open 1s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes open {
  0% {
  }
  20% {
    border-radius: 100%;
  }
  90% {
    left: -150vw;
    top: -150vh;
    width: 300vw;
    height: 300vh;
    border-radius: 100%;
  }
  100% {
    left: -150vw;
    top: -150vh;
    width: 300vw;
    height: 300vh;
    display: none;
    z-index: -99999;
    border-radius: 100%;
  }
}

/**
 * Splash
 */

#home-splash {
  position: sticky;
  top: $spacing-unit * 2.4;
  left: 0;
  width: 100%;

  @media screen and (max-height: 500px) {
    position: relative;
  }
}

.home-splash-wrapper {
  display: flex;
  flex-direction: column;

  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2.5;

  @include media-query($on-palm) {
    padding-top: $spacing-unit * .5;
    padding-bottom: 0;
  }
}

.home-splash-wrapper .home-splash-section:first-child {
  margin-bottom: $spacing-unit * 2;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit;
  }

  @media screen and (max-height: 750px) {
    margin-bottom: $spacing-unit;
  }
}

.home-splash-section {
  display: flex;
  flex-direction: row;
  gap: $spacing-unit * 2;

  @include media-query($on-palm) {
    flex-direction: column;
    gap: $spacing-unit * .5;
  }
}

.home-splash-section > div {
  flex-basis: 0;
  flex-grow: 1;
}

#home-splash-draw {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: start;
}

.home-splash-title {
  margin-bottom: 0;
  margin-top: $spacing-unit;
  font-weight: 700;
  white-space: nowrap;

  @include media-query($on-palm) {
    font-size: 1.6rem;
  }
}

.home-splash-arrow {
  width: $spacing-unit * 3;
  margin-left: $spacing-unit * .5;
  margin-top: $spacing-unit * -.3;

  @include media-query($on-palm) {
    width: $spacing-unit * 2;
    margin-top: 0;
  }
}

#home-splash-bike {
  width: $spacing-unit * 7;
  height: $spacing-unit * 6;
  position: relative;

  @include media-query($on-palm) {
    width: $spacing-unit * 4.5;
    height: $spacing-unit * 4.5;
  }

  &:hover {
    cursor: pointer;
  }
}

#home-splash-bike .bike-wheel-spin {
  animation: spin 3s ease-out;
  transform-box: fill-box;
  transform-origin: center;
}

.home-splash-bike svg {
  position: absolute;
}

.home-splash-text {
  font-size: 1.7rem;

  @include media-query($on-palm) {
    font-size: 1.2rem;
  }

  @media screen and (max-height: 750px) {
    font-size: 1.2rem;
  }
}

.home-splash-text p {
  margin-bottom: 0;
}

.home-splash-text-bottom {
  align-self: flex-end;
  margin-top: $spacing-unit * 5;

  @include media-query($on-palm) {
    margin-top: 0 !important;
  }

  @media screen and (max-height: 860px) {
    margin-top: $spacing-unit * 2;
  }
}

.home-splash-img-container {
  display: flex;
  justify-content: flex-end;
}

.home-splash-img {
  margin-right: $spacing-unit;
  text-align: center;
}

.home-splash-img img {
  height: $spacing-unit * 7;
  width: $spacing-unit * 7;
  border-radius: 50%;
  display: block;
  margin: 0 auto;

  @include media-query($on-palm) {
    height: $spacing-unit * 4;
    width: $spacing-unit * 4;
  }

  @media screen and (max-height: 860px) {
    height: $spacing-unit * 5;
    width: $spacing-unit * 5;
  }
}

.home-splash-caption {
  @include media-query($on-palm) {
    font-size: 1rem;
  }
}

.home-splash-cta {
  margin-top: $spacing-unit * 1;

  @include media-query($on-palm) {
    margin-top: $spacing-unit;
  }

  @media screen and (max-height: 750px) and (max-width: $on-palm) {
    margin-top: $spacing-unit * -4 !important;
  }

  @media screen and (max-height: 750px) {
    margin-top: $spacing-unit * -2;
  }
}

.home-splash-cta li:not(:last-child) {
  margin-bottom: $spacing-unit * .5;
}

.home-splash-cta a {
  text-decoration: underline;
}

/**
 * Projects
 */

.home-project-container {
  background-color: white;
  position: sticky;
  top: $spacing-unit * 2.3;
  height: auto;
  min-height: 500px;

  @media screen and (max-height: 500px) {
    position: relative;
  }
}

.home-projects:last-child {
  position: relative;
}

.home-project {
  width: 100%;
}

.home-project-inner {
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: $spacing-unit * 5 $spacing-unit;
  gap: $spacing-unit;

  @media screen and (max-height: 500px) {
    max-height: none;
  }

  @include media-query($on-palm) {
    padding: $spacing-unit * 3 $spacing-unit;
    justify-content: center;
  }

  @media screen and (max-height: 860px) {
    padding: $spacing-unit * 2 $spacing-unit;
  }
}

.home-project-inner > * {
  flex-basis: 0;
}

.home-project-description {
  text-align: center;
}

.home-project-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-height: 40vh;
  margin: 0 auto;
}

.home-project-img img {
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.home-project-title {
  font-size: 2.5rem;
  font-family: $header-font-family;

  @media screen and (max-height: 860px) {
    font-size: 2rem;
  }
}

.home-project-description {
  color: white;
}

.home-project-description > p {
  margin-bottom: $spacing-unit * 1;
  font-size: 1.3rem;
}


.home-project-button {
  -webkit-appearance: none;
  color: $text-color;
  font-family: $base-font-family;
  font-weight: 700;
  font-size: 1rem;
  line-height: $base-line-height;
  border: 0;
  background-color: $background-color;
  border-radius: $spacing-unit * .3;
  padding: $spacing-unit * .4 $spacing-unit * 1.4;
}

.home-project-button:hover {
  cursor: pointer;
}

.home-footer {
  position: sticky;
  width: 100vw;
  padding: $spacing-unit 0;
  display: flex;
  justify-content: center;
  background-color: white;
}

.home-footer span {
  text-decoration: underline;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

/**
 * Per Project
 */

.home-project-nonna {
  background: conic-gradient(from 183.01deg at 52.85% 45.78%, #B3D4C8 0deg, #B3D4C3 12.47deg, #B3D4C8 26.72deg, #B3D5C8 44.18deg, rgba(179, 212, 200, 0.71559) 113.12deg, rgba(179, 212, 200, 0.58) 145.99deg, rgba(179, 212, 200, 0.44797) 175.66deg, rgba(179, 212, 200, 0.353403) 196.92deg, rgba(179, 212, 200, 0.28) 224.19deg, rgba(179, 212, 200, 0.33) 230.21deg, rgba(179, 212, 200, 0.38) 232.25deg, rgba(179, 212, 200, 0.4) 236.82deg, rgba(179, 212, 200, 0.4) 238.68deg, rgba(179, 212, 200, 0.568107) 250.94deg, rgba(179, 212, 200, 0.77) 274.85deg, rgba(179, 212, 200, 0.940634) 287.02deg, rgba(179, 212, 200, 0.991882) 299.08deg, rgba(179, 212, 200, 0.967881) 321.63deg, rgba(179, 212, 200, 0.949033) 339.34deg, rgba(179, 212, 200, 0.927083) 359.96deg, #B3D4C8 360deg);
}

.home-project-nycbest {
  background: conic-gradient(from 176.47deg at 46.35% 40.93%, rgba(213, 198, 255, 0.81) -47.78deg, #D5C6FF 24.38deg, rgba(213, 199, 255, 0.946097) 42.08deg, rgba(213, 198, 255, 0.82) 61.15deg, rgba(213, 199, 255, 0) 131.71deg, rgba(213, 199, 255, 0.56) 206.98deg, rgba(213, 198, 255, 0.81) 312.22deg, #D5C6FF 384.38deg);
}

.home-project-reciplay {
  background: conic-gradient(from 185.7deg at 55.17% 48.2%, rgba(255, 226, 124, 0.99) -45.35deg, #FFE27C 44.59deg, rgba(255, 226, 124, 0.731691) 76.88deg, rgba(255, 226, 124, 0.58) 114.38deg, rgba(255, 226, 124, 0.37) 181.87deg, rgba(255, 226, 124, 0.99) 314.65deg, #FFE27C 404.59deg);
}

/**
 * About
 */

.about-wrapper {
  padding-top: $spacing-unit * 2;
  max-width: $max-width;

  @include media-query($on-palm) {
    padding-top: $spacing-unit * .5;
  }
}

.about-wrapper > div {
  margin-bottom: $spacing-unit * 2;
}

.about-content {
  display: flex;
  justify-content: space-between;
  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.about-pic-container {
  max-width: $spacing-unit * 17;
  margin: 0 auto;
}

.about-pic {
  width: 100%;
  position: relative;
  @include media-query($on-palm) {
    order: -1;
    margin-top: $spacing-unit;
  }
}

.about-pic-foreground {
  background-image: url("/assets/about/julia-draw.jpg");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}

.about-pic-slider {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  top: 0;
  background: transparent;
  outline: none;
  margin: 0;
  transition: all .2s;
  overflow-y: hidden;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: $spacing-unit * 100;
    width: $spacing-unit * 2;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    background: white;
    cursor: pointer;
  }
}

.about-pic-caption span {
  font-style: italic;
  font-weight: 700;
}

.about-header {
  @include media-query($on-palm) {
    order: -2;
  }
}

.about-me {
  width: 100%;
  padding-right: $spacing-unit * 4;
  max-width: $spacing-unit * 20;

  @include media-query($on-palm) {
    padding-right: 0;
  }
}

.about-me > div {
  margin-top: $spacing-unit;
}

.about-me > div > p:not(:first-child) {
  margin-top: $spacing-unit;
}

.about-me a {
  text-decoration: underline;
}

.about-experience {
  display: flex;
  justify-content: space-between;
  gap: $spacing-unit * 1;
  margin-top: $spacing-unit;
  min-height: $spacing-unit * 10;
  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.about-experience div {
  max-width: $spacing-unit * 10;
}

.about-experience h3 {
  font-weight: 600;
}

.about-date {
  font-weight: 300;
  font-style: italic;
}

.about-title {
  font-weight: 500;
}

.about-experience-group {
  margin-bottom:  $spacing-unit;
}

.about-experience-group p {
  margin-bottom: 0;
}

.about-resume {
  color: $text-color !important;
  font-size: 1.6rem;

  :hover {
    cursor: pointer;
  }

  h4 {
    display: inline-block;
    margin-right: 10px;
  }
}