---
layout: default
---

<link rel="stylesheet" href="/assets/{{page.name}}/style.css">

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class='work-table-of-contents'>
        <ul>
            <li><a id="overview-link" class='work-table-of-contents-link' href='#overview'>Overview</a></li>
            <li><a id="research-link" class='work-table-of-contents-link' href='#research'>Research</a></li>
            <li><a id="ideation-link" class='work-table-of-contents-link' href='#ideation'>Ideation</a></li>
            {% if page.sitemap %}
            <li><a id="sitemap-link" class='work-table-of-contents-link' href='#sitemap'>Sitemap</a></li>
            {% endif %}
            <li><a id="wireframes-link" class='work-table-of-contents-link' href='#wireframes'>Wireframes</a></li>
            <li><a id="testing-link" class='work-table-of-contents-link' href='#testing'>Testing</a></li>
            <li><a id="finaldesigns-link" class='work-table-of-contents-link' href='#finaldesigns'>Final Designs</a>
            </li>
            <li><a id="takeaways-link" class='work-table-of-contents-link' href='#takeaways'>Takeaways</a></li>
        </ul>
    </div>
    <div class='work-section-container'>
        <div class='work-splash'>
            <div class='wrapper work-splash-icons'>
                <div>
                    <a class='work-splash-link' href='{{ page.backLink }}'>
                        <span class='work-splash-icon-rev work-svg'>{% include cta.svg %}</span><span
                            class='work-splash-link-text'> Back</span>
                    </a>
                    <a class='work-splash-link' href='{{ page.nextPage.link }}'>
                        <span class='work-splash-link-text'>Next: {{ page.nextPage.title }} </span>
                        <span class='work-svg'>{% include cta.svg %}</span>
                    </a>
                </div>
            </div>
            <div class='wrapper work-wrapper'>
                <div class='work-image'>
                    <img src='/assets/{{ page.name }}/prototype.png' />
                </div>
                <div class='work-image work-splash-logo'>
                    <img src='/assets/{{ page.name }}/logo.png' />
                </div>
            </div>
        </div>
        <!--Overview-->
        <div>
            <div class='wrapper work-wrapper'>
                <div class='work-cols work-overview-descriptions'>
                    <div>
                        <p class='work-bold'>Deliverable</p>
                        <p>{{ page.overview.deliverable }}</p>
                    </div>
                    <div>
                        <p class='work-bold'>Role</p>
                        <ul>
                            {% for role in page.overview.roles %}
                            <li>{{ role }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p class='work-bold'>Duration</p>
                        <p>{{ page.overview.duration }}</p>
                    </div>
                    <div>
                        <p class='work-bold'>Tool</p>
                        <p>{{ page.overview.tool }}</p>
                    </div>
                </div>
                <h2 class='work-link work-header' id='overview'>Overview</h2>
                <div class='work-overview-container'>
                    <div>
                        {% for line in page.description %}
                        <p>{{ line | markdownify }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <h4 class='work-subheader'>The Problem</h4>
                        <p>{{ page.overview.problem | markdownify }}</p>
                    </div>
                    <div>
                        <h4 class='work-subheader'>The Solution</h4>
                        <p>{{ page.overview.solution.tag | markdownify }}</p>
                        <div class='work-cols work-cols-even work-overview-solutions'>
                            {% for solution in page.overview.solution.examples %}
                            <div>
                                <img src='/assets/{{page.name}}/{{solution.image}}'>
                                <p class='work-bold'>{{ solution.example }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Research-->
        <div>
            <div class='wrapper work-wrapper'>
                <h2 class='work-link work-header' id='research'>Research</h2>
                <div class='work-cols'>
                    <div class='work-markdown'>
                        <p>{{ page.research.description | markdownify }}</p>
                    </div>
                    <div>
                        <ul class='work-research-questions work-list'>
                            {% for question in page.research.questions %}
                            <li>{{ question }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <h4 class='work-subheader'>Target User Groups</h4>
                <p>{{ page.research.target.description | markdownify }}</p>
                <div class='work-cols work-cols-even work-research-personas'>
                    {% for persona in page.research.personas %}
                    <div>
                        <div class='work-research-blurb'>
                            <img src='/assets/{{page.name}}/{{persona.image}}'>
                            <div>
                                <p>{{ persona.name }}, <span>{{ persona.age }}</span></p>
                                <p>{{ persona.job }}</p>
                            </div>
                        </div>
                        {% if persona.quote != blank %}
                        <p class='work-quote'>"{{ persona.quote }}"</p>
                        {% endif %}
                        <div>
                            <table class='work-table work-research-persona-table'>
                                {% if persona.goals %}
                                <tr>
                                    <td class='work-table-key'>Goals:</td>
                                    <td class='work-table-value'>
                                        <ul class='work-list'>
                                            {% for goal in persona.goals %}
                                            <li>{{ goal }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td class='work-table-key'>Needs:</td>
                                    <td class='work-table-value'>
                                        <ul class='work-list'>
                                            {% for need in persona.needs %}
                                            <li>{{ need }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <div class='wrapper work-wrapper'>
                {% if page.research.user_journey %}
                <div>
                    <h4 class='work-subheader'>{{ page.research.user_journey.title }}</h4>
                    <img class='work-research-journey-image'
                         src='/assets/{{ page.name }}/{{page.research.user_journey.image}}'>
                </div>
                {%- include cases/work-research-challenges.html -%}
                {%- include cases/work-research-analysis.html -%}
                {% else %}
                {%- include cases/work-research-analysis.html -%}
                {%- include cases/work-research-challenges.html -%}
                {% endif %}
            </div>
        </div>
        <!--Ideation-->
        <div>
            <div class='wrapper work-wrapper'>
                <h2 class='work-link work-header' id='ideation'>Ideation</h2>
                <p>{{ page.ideation.summary | markdownify }}</p>
                {% if page.ideation.before and page.ideation.after %}
                <div class='work-cols work-ideation-diagram work-cols-wide'>
                    <figure class='work-ideation-diagram-section'>
                        <div>
                            <img src='/assets/{{page.name}}/ideation_before.png'>
                            <figcaption>{{ page.ideation.before | markdownify }}</figcaption>
                        </div>
                    </figure>
                    <span class='work-ideation-arrow work-svg'>{% include cta.svg %}</span>
                    <figure class='work-ideation-diagram-section'>
                        <div>
                            <img src='/assets/{{page.name}}/ideation_after.png'>
                            <figcaption>{{ page.ideation.after | markdownify }}</figcaption>
                        </div>
                    </figure>
                </div>
                {% endif %}
                {% if page.ideation.diagram %}
                <div class='work-cols work-cols-even work-ideation-single'>
                    <div>
                        <img src='/assets/{{page.name}}/{{page.ideation.diagram.image}}'>
                    </div>
                    <div class='work-markdown'>
                        <p>{{ page.ideation.diagram.description | markdownify }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!--Sitemap-->
        {% if page.sitemap %}
        <div>
            <div class='wrapper work-wrapper'>
                <h2 class='work-link work-header' id='sitemap'>Sitemap</h2>
                <p>{{ page.sitemap.summary | markdownify }}</p>
                <img src='/assets/{{page.name}}/sitemap.png'>
            </div>
        </div>
        {% endif %}
        <!--Wireframes-->
        <div>
            <div class='wrapper work-wrapper'>
                <h2 class='work-link work-header' id='wireframes'>Wireframes</h2>
                <p>{{ page.wireframes.summary | markdownify }}</p>
                <div class='work-wireframe-images'>
                    {% for image in page.wireframes.images %}
                    <img src='/assets/{{page.name}}/{{image}}'>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Testing-->
        <div>
            <div class='wrapper work-wrapper'>
                <h2 class='work-link work-header' id='testing'>Testing</h2>
                <div class='work-cols'>
                    <div>
                        {% for note in page.testing.notes %}
                        <p>{{ note | markdownify }}</p>
                        {% endfor %}
                    </div>
                    <div>
                        <table class='work-table work-testing-details'>
                            <tr>
                                <td class='work-table-key'>Study type</td>
                                <td class='work-table-value'>{{ page.testing.study_type }}</td>
                            </tr>
                            <tr>
                                <td class='work-table-key'>Location</td>
                                <td class='work-table-value'>{{ page.testing.location }}</td>
                            </tr>
                            <tr>
                                <td class='work-table-key'>Participants</td>
                                <td class='work-table-value'>{{ page.testing.participants }}</td>
                            </tr>
                            <tr>
                                <td class='work-table-key'>Length</td>
                                <td class='work-table-value'>{{ page.testing.length }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class='work-cols work-testing-body'>
                    <div class='work-testing-image'>
                        <img src='/assets/{{page.name}}/{{page.testing.image}}'>
                    </div>
                    <div>
                        <h4 class='work-subheader'>Thinking Aloud Test</h4>
                        <table class='work-table work-testing-table'>
                            {% for test in page.testing.tests %}
                            <tr>
                                <td class='work-table-key'>Task {{ forloop.index }}</td>
                                <td class='work-table-value'>{{ test }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div>
                    <h4 class='work-subheader'>Insights</h4>
                    <ul class='work-list'>
                        {% for insight in page.testing.insights %}
                        <li>{{ insight | markdownify }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!--Final Designs-->
        {% for design in page.final_designs %}
        <div>
            <div class='wrapper work-wrapper'>
                {% if forloop.index0 < 1 %}
                <h2 class='work-link work-header' id='finaldesigns'>Final Designs</h2>
                {% endif %}
                <div class='work-cols work-designs-container work-designs-{{forloop.index0 | modulo: 2}}'>
                    <div class='work-design-gap'></div>
                    <div class='work-design-summary-{{forloop.index0 | modulo: 2}}'>
                        <h4 class='work-subheader'>{{ design.title }}</h4>
                        <p>{{ design.summary }}</p>
                    </div>
                    <div class='work-design-side work-design-img'>
                        <img src='/assets/{{page.name}}/{{design.image}}'>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!--Takeaways-->
        <div>
            <div class='wrapper work-wrapper'>
                <h2 class='work-link work-header' id='takeaways'>Takeaways</h2>
                <div>
                    <p>{{ page.takeaways.summary | markdownify }}</p>
                </div>
                <div>
                    <table class='work-table'>
                        {% for lesson in page.takeaways.lessons %}
                        <tr>
                            <td class='work-table-key'>{{ lesson.lesson }}</td>
                            <td class='work-table-value'>{{ lesson.learning }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div>
                    <h4 class='work-subheader'>Next Steps:</h4>
                    <ul class='work-list'>
                        {% for step in page.takeaways.next_steps %}
                        <li>{{ step }}</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
  const anchorClass = '.work-link'
  const linkClass = '.work-table-of-contents-link'
  const activeClass = 'work-table-of-contents-active'

  let up = 0
  window.onscroll = function (e) {
    up = this.oldScroll > this.scrollY ? 1 : -1;
    this.oldScroll = this.scrollY;
  }

  const anchors = document.querySelectorAll(anchorClass);
  const links = document.querySelectorAll(linkClass)
  let intersecting = []
  let callback = (entries) => {
    entries.forEach(entry => {
      const targetDiv = document.querySelector(`[href="#${entry.target.id}"]`);
      if (entry.isIntersecting) {
        intersecting.push(targetDiv)
      } else {
        intersecting = intersecting.filter((i) => `${entry.target.id}-link` !== i.id)
      }
    });
    if (intersecting.length > 0) {
      const curr = up === 1 ? intersecting.at(-1) : intersecting.at(0)
      curr.classList.add(activeClass)
      links.forEach((link) => {
        if (link.id !== curr.id) link.classList.remove(activeClass)
      })
    }
  };

  const observer = new IntersectionObserver(callback);
  anchors.forEach(div => observer.observe(div));
</script>
