---
layout: default
---

<link rel="stylesheet" href="/assets/{{page.name}}/style.css">

<div class="work-container">
    <div class='wrapper work-wrapper work-table-of-contents-wrapper'>
        <div class='work-table-of-contents'>
            <ul>
                <li><a id="overview-link" class='work-table-of-contents-link' href='#overview'>Overview</a></li>
                <li><a id="research-link" class='work-table-of-contents-link' href='#research'>Research</a></li>
                <li><a id="ideation-link" class='work-table-of-contents-link' href='#ideation'>Ideation</a></li>
                {% if page.sitemap %}
                <li><a id="sitemap-link" class='work-table-of-contents-link' href='#sitemap'>Sitemap</a></li>
                {% endif %}
                <li><a id="wireframes-link" class='work-table-of-contents-link' href='#wireframes'>Wireframes</a></li>
                <li><a id="testing-link" class='work-table-of-contents-link' href='#testing'>Testing</a></li>
                <li><a id="solution-link" class='work-table-of-contents-link' href='#solution'>Solution</a>
                    {% if page.final_designs %}
                <li><a id="finaldesigns-link" class='work-table-of-contents-link' href='#finaldesigns'>Final Designs</a>
                </li>
                {% endif %}
                {% if page.prototype %}
                <li><a id="prototype-link" class='work-table-of-contents-link' href='#prototype'>Prototype</a></li>
                {% endif %}
                <li><a id="takeaways-link" class='work-table-of-contents-link' href='#takeaways'>Takeaways</a></li>
            </ul>
        </div>
    </div>
    <!-- Splash-->
    <div class='work-splash'>
        <!--        <div class='work-links'>-->
        <!--            <div>-->
        <!--                <a class='work-link' href='{{ page.backLink }}'>-->
        <!--                    <span class='work-link-text'>Back</span>-->
        <!--                </a>-->
        <!--                <a class='work-link' href='{{ page.nextPage.link }}'>-->
        <!--                    <span class='work-link-text'>Next: {{ page.nextPage.title }} </span>-->
        <!--                </a>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class='wrapper work-wrapper'>
            <div class='work-splash-image'>
                <img src='/assets/{{ page.name }}/banner.png' alt='{{page.name}} banner' />
            </div>
        </div>
    </div>
    <div class='work-section-container'>
        <!-- Details -->
        <div class='wrapper work-wrapper'>
            <div class='work-details-logo'>
                <img src='/assets/{{ page.name }}/logo.png' alt='{{page.name}} logo' />
            </div>
            <div class='work-cols work-details-descriptions'>
                <div>
                    <div class='work-details-descriptions-key'>Deliverable</div>
                    <div>{{ page.banner.deliverable }}</div>
                </div>
                <div>
                    <div class='work-details-descriptions-key'>Role</div>
                    <ul>
                        {% for role in page.banner.roles %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <div class='work-details-descriptions-key'>Duration</div>
                    <div>{{ page.banner.duration }}</div>
                </div>
                <div>
                    <div class='work-details-descriptions-key'>Tool</div>
                    <div>{{ page.banner.tool }}</div>
                </div>
            </div>
        </div>
        {% if page.hidden %}
        <div class='work-coming-soon'>Coming Soon</div>
        {% else %}
        <!--Overview-->
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='overview'>OVERVIEW</h2>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>The problem</h4>
                </div>
                <div class='work-content'>
                    <div>{{ page.overview.problem | markdownify }}</div>
                    {% assign style = 'work-img-list work-img-list-alt' %}
                    {% if page.overview.list %}
                    {% assign style = style | append: " work-img-list-linear" %}
                    {% endif %}
                    {% if page.overview.row %}
                    {% assign style = style | append: " work-img-list-row" %}
                    {% endif %}
                    <div class='{{style}}'>
                        {% for example in page.overview.examples %}
                        <div class='work-img-list-block'>
                            {% assign style = "work-img-list-img" %}
                            {% if example.rounded %}
                            {% assign style = style | append: " work-img-list-img-rounded" %}
                            {% endif %}
                            {% if example.small %}
                            {% assign style = style | append: " work-img-list-img-small" %}
                            {% endif %}
                            {% if example.caption %}
                            {% assign style = style | append: " work-captioned-image" %}
                            {% endif %}
                            {% if example.image %}
                            <div class='{{style}}'>
                                <img src='/assets/{{page.name}}/{{example.image}}' alt='problem example'>
                                {% if example.caption %}
                                <span>{{example.caption}}</span>
                                {% endif %}
                            </div>
                            {% endif %}
                            <div class='work-img-list-summary'>
                                {{ example.description | markdownify }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>{{ page.overview.solution.title }}</h4>
                </div>
                <div class='work-content'>
                    {% for block in page.overview.solution.description %}
                    {% if block.quote %}
                    <div class='work-quote'>{{ block.paragraph | markdownify }}</div>
                    {% else %}
                    <div>{{ block.paragraph | markdownify }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Research-->
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='research'>RESEARCH</h2>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>Who are our users?</h4>
                </div>
                <div class='work-content'>
                    {% for block in page.research.description %}
                    <div>{{ block | markdownify }}</div>
                    {% endfor %}
                    <div class='work-research-cards'>
                        {% for persona in page.research.personas %}
                        <div class='work-research-card'>
                            <div>
                                <div>
                                    <div class='work-research-card-title'>{{ persona.title }}</div>
                                    <div class='work-research-card-details'>
                                        <div>
                                            Age: <span class='work-research-card-emphasis'>{{ persona.age }}</span>
                                        </div>
                                        <div>
                                            Profession: <span
                                                class='work-research-card-emphasis'>{{ persona.job }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class='work-research-card-description'>
                                    {% for block in persona.description %}
                                    {{ block | markdownify }}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class='work-research-card-img'>
                                <img src='/assets/{{page.name}}/{{persona.image}}' alt='persona portrait'>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div>
                        {{ page.research.challenges.description }}
                    </div>
                    <ol class='work-research-list'>
                        {% for challenge in page.research.challenges.list %}
                        <li>{{ challenge | markdownify }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>Competitive analysis</h4>
                </div>
                <div class='work-content'>
                    {% for block in page.research.competitive_analysis.summary %}
                    <div>{{ block | markdownify }}</div>
                    {% endfor %}
                    <div class='work-research-logos'>
                        {% for competitor in page.research.competitive_analysis.competitors %}
                        <img src='/assets/{{page.name}}/{{competitor}}' alt='competitor'>
                        {% endfor %}
                    </div>
                    {% for block in page.research.competitive_analysis.analysis %}
                    <div>{{ block | markdownify }}</div>
                    {% endfor %}
                    <div class='work-research-insight'>{{ page.research.insight | markdownify }}</div>
                </div>
            </div>
        </div>
        <!--Ideation-->
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='ideation'>IDEATION</h2>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>Starting the design process</h4>
                </div>
                <div class='work-content'>
                    <div>{{ page.ideation.summary | markdownify }}</div>
                    {% if page.ideation.examples %}
                    <div class='work-img-list work-img-list-alt'>
                        {% for example in page.ideation.examples %}
                        <div class='work-img-list-block'>
                            {% assign imageStyle = 'work-img-list-img work-img-list-img-rounded' %}
                            {% if example.wide %}
                            {% assign imageStyle = 'work-img-list-img work-img-list-img-rounded work-img-list-img-wide'
                            %}
                            {% endif %}
                            <div class='{{ imageStyle }}'>
                                <img src='/assets/{{page.name}}/{{example.image}}' alt='problem example'>
                            </div>
                            <div class='work-img-list-summary'>
                                {{ example.description | markdownify }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if page.ideation.title %}
                    <h4 class='work-ideation-title'><span>{{ page.ideation.title }}</span></h4>
                    {% endif %}
                    {% if page.ideation.tables %}
                    <div class='work-img-list work-img-list-alt work-ideation-table'>
                        {% for table in page.ideation.tables %}
                        <div class='work-img-list-block'>
                            <div class='work-img-list-img work-ideation-table-img'>
                                <img src='/assets/{{page.name}}/{{table.image}}' alt='ideation figure'>
                            </div>
                            <div class='work-img-list-summary'>
                                <h5 class='work-ideation-table-title'>{{ table.title }}</h5>
                                <table class='work-table'>
                                    {% for item in table.list %}
                                    <tr>
                                        <td class='work-table-key'></td>
                                        <td class='work-table-value'>{{ item }}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if page.ideation.after %}
                    {% for block in page.ideation.after %}
                    {% if block.image %}
                    <div class='work-wireframe-images'>
                        <img src='/assets/{{page.name}}/{{block.image}}' alt='wireframe'>
                    </div>
                    {% endif %}
                    <div>{{ block.description | markdownify }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <!--Sitemap-->
        {% if page.sitemap %}
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='sitemap'>Sitemap</h2>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>Information architecture</h4>
                </div>
                <div class='work-content'>
                    {% for sitemap in page.sitemap %}
                    <div class='work-wireframe-images'>
                        <img src='/assets/{{page.name}}/{{sitemap.image}}' alt='sitemap'>
                    </div>
                    <div>
                        {{ sitemap.summary | markdownify }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <!--Wireframes-->
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='wireframes'>WIREFRAMES</h2>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>Mapping out the user flow</h4>
                </div>
                <div class='work-content'>
                    {% for wireframe in page.wireframes %}
                    {% assign style = 'work-wireframe-images' %}
                    {% if wireframe.caption %}
                    {% assign style = style | append: " work-captioned-image" %}
                    {% endif %}
                    <div class='{{style}}'>
                        <img src='/assets/{{page.name}}/{{wireframe.image}}' alt='wireframe'>
                        {% if wireframe.caption %}
                        <span>{{ wireframe.caption }}</span>
                        {% endif %}
                    </div>
                    <div>{{ wireframe.summary | markdownify }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Testing-->
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='testing'>TESTING</h2>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>Thinking-aloud test</h4>
                </div>
                <div class='work-content'>
                    {% for note in page.testing.notes %}
                    <div>{{ note | markdownify }}</div>
                    {% endfor %}
                    {% assign style = 'work-cols work-testing-body' %}
                    {% if page.testing.linear %}
                    {% assign style = style | append: " work-testing-linear" %}
                    {% endif %}
                    <div class='{{style}}'>
                        <div class='work-testing-image work-captioned-image'>
                            <img src='/assets/{{page.name}}/{{page.testing.image}}' alt='testing'>
                            <span>Low-fidelity prototype</span>
                        </div>
                        <div>
                            <table class='work-table work-testing-table'>
                                {% for test in page.testing.tests %}
                                <tr>
                                    <td class='work-table-key'>Task {{ forloop.index }}</td>
                                    <td class='work-table-value'>{{ test }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Solution-->
        {% if page.solution %}
        <div id='work-solution' class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='solution'>SOLUTION</h2>
            {% assign style = 'work-solution-splashes' %}
            {% if page.solution.images.size > 1 %}
            {% assign style = style | append: " work-solution-splashes-multi" %}
            {% endif %}
            <div class='{{style}}'>
                {% for image in page.solution.images %}
                {% assign style = 'work-solution-splash' %}
                {% if image.shadow %}
                {% assign style = style | append: " work-wireframe-images" %}
                {% endif %}
                {% if image.full %}
                {% assign style = style | append: " work-solution-img-full" %}
                {% endif %}
                {% if image.caption %}
                {% assign style = style | append: " work-captioned-image" %}
                {% endif %}
                <div class='{{style}}'>
                    <img src='/assets/{{page.name}}/{{image.image}}' alt={{image.caption}} />
                    <span>{{image.caption}}</span>
                </div>
                {% endfor %}
            </div>
            {% for example in page.solution.examples %}
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>{{ example.title }}</h4>
                </div>
                <div class='work-content'>
                    <div>
                        {{ example.before | markdownify }}
                    </div>
                    {% for row in example.images %}
                    <div class='work-cols work-solution-images'>
                        {% for image in row.row %}
                        {% assign style = 'work-solution-image' %}
                        {% if image.caption %}
                        {% assign style = style | append: " work-captioned-image" %}
                        {% endif %}
                        <div class="{{style}}">
                            <img src='/assets/{{page.name}}/{{image.image}}'
                                 alt='{{image.caption}}'>
                            {% if image.caption %}
                            <span>{{image.caption}}</span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div>
                        {{ example.after | markdownify }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <!--Final Designs-->
        {% if page.final_designs %}
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='finaldesigns'>FINAL DESIGNS</h2>
            {% if page.final_designs.sidebar %}
            <div class='work-sidebar'>
                <div></div>
                {% endif %}
                <div class='work-img-list work-final-designs'>
                    {% for design in page.final_designs.designs %}
                    {% assign style = "work-img-list-block" %}
                    {% if design.column %}
                    {% assign style = style | append: " work-final-designs-column" %}
                    {% endif %}
                    <div class='{{style}}'>
                        {% assign style = "work-img-list-img work-final-designs-img" %}
                        {% if design.rounded %}
                        {% assign style = style | append: " work-img-list-img-rounded" %}
                        {% endif %}
                        <div class='{{style}}'>
                            <img src='/assets/{{page.name}}/{{design.image}}' alt='problem example'>
                        </div>
                        <div class='work-img-list-summary'>
                            <table class='work-table'>
                                {% for detail in design.details %}
                                <tr>
                                    <td class='work-table-key'>{{ detail.detail }}</td>
                                    <td class='work-table-value'>{{ detail.info }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if page.final_designs.sidebar %}
            </div>
            {% endif %}
        </div>
        {% endif %}
        <!--Prototype-->
        {% if page.prototype %}
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='prototype'>PROTOTYPE</h2>
            <div class='work-content'>
                <div class='work-wireframe-images'>
                    <img src='/assets/{{page.name}}/{{page.prototype.image}}' alt='prototype'>
                </div>
                <div>
                    {{ page.prototype.summary | markdownify }}
                </div>
            </div>
        </div>
        {% endif %}
        <!--Takeaways-->
        <div class='work-section wrapper work-wrapper'>
            <h2 class='work-header' id='takeaways'>TAKEAWAYS</h2>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>What I learned</h4>
                </div>
                <div class='work-content'>
                    <div>{{ page.takeaways.summary | markdownify }}</div>
                    <div>
                        <table class='work-table'>
                            {% for lesson in page.takeaways.lessons %}
                            <tr>
                                <td class='work-table-key'>{{ lesson.lesson }}</td>
                                <td class='work-table-value'>{{ lesson.learning }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class='work-sidebar'>
                <div>
                    <h4 class='work-subheader'>Next Steps</h4>
                </div>
                <div class='work-content'>
                    <ul class='work-list'>
                        {% for step in page.takeaways.next_steps %}
                        <li>{{ step }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class='work-bottom-descriptions'>
        <div class='work-bottom-descriptions-inner work-wrapper work-cols'>
            {% assign ordered_cases = site.cases | sort:"order_number" %}
            {% for case in ordered_cases %}
            <div>
                {% if case.title == page.title %}
                <a class="work-bottom-descriptions-selected" href='{{case.url}}'>{{case.description}}</a>
                {% else %}
                <a href='{{case.url}}'>{{case.description}}</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class='work-bottom-actions'>
        <span id='scroll-top'>Back to top</span>
    </div>
    {% endif %}
</div>

<script>
  const scrollTop = document.getElementById('scroll-top');
  scrollTop.addEventListener("click", () => {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  });

  const anchorClass = '.work-header'
  const linkClass = '.work-table-of-contents-link'
  const activeClass = 'work-table-of-contents-active'

  let up = 0
  window.onscroll = function (e) {
    up = this.oldScroll > this.scrollY ? 1 : -1;
    this.oldScroll = this.scrollY;
  }

  const anchors = document.querySelectorAll(anchorClass);
  const links = document.querySelectorAll(linkClass)
  let intersecting = []
  let callback = (entries) => {
    entries.forEach(entry => {
      const targetDiv = document.querySelector(`[href="#${entry.target.id}"]`);
      if (entry.isIntersecting) {
        intersecting.push(targetDiv)
      } else {
        intersecting = intersecting.filter((i) => `${entry.target.id}-link` !== i.id)
      }
    });
    if (intersecting.length > 0) {
      const curr = up === 1 ? intersecting.at(-1) : intersecting.at(0)
      curr.classList.add(activeClass)
      links.forEach((link) => {
        if (link.id !== curr.id) link.classList.remove(activeClass)
      })
    }
  };

  const observer = new IntersectionObserver(callback);
  anchors.forEach(div => observer.observe(div));
</script>
