:root {
    --main-color-light: rgba(50, 98, 115, 0.25);
    --main-color-dark: rgba(50, 88, 115, 1);
    --splash-color: rgba(245, 195, 148, 1);
}

.work-list {
    list-style: url("/assets/nycbest/bulletpoint.svg");
}

.work-splash-image img {
    max-height: 400px;
    display: block;
    margin: 0 auto;
}